#radar-wrap{
  display: flex;
  flex: 1;
  width: 60%;
  /* background: url(../img/world-map-globe.png) center center / cover; */
}
.radar{
  padding: 0;
  overflow: hidden;
  border-radius: 50%;  
}
#radar{
  background-clip: padding-box;
  position: relative;
  align-self: flex-end;
  margin: 0 auto 10px;
  width: 350px;
  height: 350px;
  border: solid 10px rgba(105, 105, 105,0.3); 
  box-shadow: inset 0 0 50px rgba(0,255,0,0.4);
  background: url(../img/world-map-globe.png) no-repeat -2% 75%;
  overflow:hidden;
}
.ships
{
  position: absolute;
  top: 80%;
  left: 55%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00ee00;
  filter: blur(2px);
  z-index: -1;
  transition: all 1s;
  animation: emerge 2s ease-in-out ;
}
.hidden{
  visibility: hidden;
  opacity: 0;
}
#ManoWar{
  animation: sailOne 100s ease infinite alternate,glow 3s linear infinite; 
}
#radar li:nth-child(1),
#radar li:nth-child(2),
#radar li:nth-child(3),
#radar li:nth-child(4)
{
  list-style: none;
  position: absolute;
  top: 50%;
  height: 1px;
  width:100%;
  background: rgba(83, 175, 19,0.5); 
  border-radius: 50%;
}

#radar li:nth-child(2)
{
  transform: rotate(90deg);
}

#radar li:nth-child(3)
{
  transform: rotate(45deg);
}
#radar li:nth-child(4)
{
  transform: rotate(-45deg);
}
#radar li:nth-child(5),
#radar li:nth-child(6)
{
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid rgba(83, 175, 19,0.5);
  background: transparent;
  border-radius: 50%;
}
#radar li:nth-child(5)
{
  width: 100px;
  height: 100px;
}
#radar li:nth-child(6)
{
  width: 240px;
  height: 240px;
}

#radar li:nth-child(7)
{
  list-style: none;
  position: absolute;
  top: 50%;
  left:50%;
  width: 180px;
  height: 180px;
  transform-origin: top left;
  background: linear-gradient(45deg, #009900 0%,transparent 50%);
  animation: animate 4s linear infinite;
}
@keyframes emerge{
  from{
    filter: blur(20px)   
  }
  to{
    filter: blur(2px);
  }
}
@keyframes animate
{
  0%{
      transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes glow{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes sailOne{
  0%{
    top:50%;
    right: 1%;
  }
  10%{
    top:15%;
    left: 5%;
  }
  10%{
    top:10%;
    left: 100%;
  }
  20%{
    top:80%;
    left: 5%;
  }
  30%{
    top:20%;
    left: 0%;
  }
  40%{
    top:70%;
    left: 90%;
  }
  50%{
    top:10%;
    left: 5%;
  }
  60%{
    top:90%;
    left: 80%;
  }
  70%{
    top:70%;
    left: 20%;
  }
  80%{
    top: 10%;
    left:100%;
  }
  90%{
    top:100%;
    left: 0%;
  }
  100%{
    top: 50%;
    left: 50%;
  }

}
