@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
ol, ul {
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  background-color: #000;
  font: 1rem/1.5 'Black Ops One',sans-serif;
  overflow: hidden;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#board{
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 90%;
}
.board-img{
  max-width: 100%;
  max-height:100%;
}

.grid{
  position: absolute;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 66%;
  height: 78.5%;
  left: 16.5%;
  top: 11%;
}
.grid div{
  width: 14%;
  height: 14%;
}

#messageArea {
	position: absolute;
	top: -8%;
	left: 1%;
  color: rgb(83, 175, 19);
  font-size: 1.3em;
}
.hit {
  background-image: url("https://raw.githubusercontent.com/CristRocha/battleship/gh-pages/img/ship.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  -webkit-animation: shake 0.8s both;
  animation: shake 0.8s both;
  will-change: transform;
}
.miss {
  background-image: url("https://raw.githubusercontent.com/CristRocha/battleship/gh-pages/img/miss.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  -webkit-animation: shake 0.8s both;
  animation: shake 0.8s both;
  will-change: transform;

}
.form {
  position: absolute;
  right: 0;
  bottom: 4%;
  padding: 1%;
  width: 15%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 5px;
  z-index: 2;
  background: rgba(83, 175, 19,0.3);
}
.form input {
	border: 1px groove #222; 
  outline: none;
  font: 1em/1 'Black Ops One',sans-serif;
  text-align: center;
}
input[type='text']{
  width: 35%;
  background: #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}

.fireButton{
  padding: 5%;
  width: 60%;
  cursor: pointer;
  background:rgba(155, 10, 10,0.4);
  color: rgba(255,255,255,0.3);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 10px 3px #111;
  box-shadow: inset 0 0 10px 3px #111;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.is--enabled{
  color: #fff;
  background-color: rgb(155, 10, 10);
}

@media (max-width:768px){
  body{
    font-size:0.6rem;
  }
  .form{
    display: none !important;
  }
  main{
    overflow: hidden;
  }
  #messageArea{
    font-size: small;
  }
  #board{
    height: auto;
  }
}
@media (orientation:landscape){
  .container{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}