@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
ol, ul {
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  background-color: #000;
  font: 1rem/1.5 'Black Ops One',sans-serif;
  overflow: hidden;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#board{
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 90%;
}
.board-img{
  max-width: 100%;
  max-height:100%;
}

.grid{
  position: absolute;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 66%;
  height: 78.5%;
  left: 16.5%;
  top: 11%;
}
.grid div{
  width: 14%;
  height: 14%;
}

#messageArea {
	position: absolute;
	top: -8%;
	left: 1%;
  color: rgb(83, 175, 19);
  font-size: 1.3em;
}
.hit {
  background-image: url("https://raw.githubusercontent.com/CristRocha/battleship/gh-pages/img/ship.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  -webkit-animation: shake 0.8s both;
  animation: shake 0.8s both;
  will-change: transform;
}
.miss {
  background-image: url("https://raw.githubusercontent.com/CristRocha/battleship/gh-pages/img/miss.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  -webkit-animation: shake 0.8s both;
  animation: shake 0.8s both;
  will-change: transform;

}
.form {
  position: absolute;
  right: 0;
  bottom: 4%;
  padding: 1%;
  width: 15%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 5px;
  z-index: 2;
  background: rgba(83, 175, 19,0.3);
}
.form input {
	border: 1px groove #222; 
  outline: none;
  font: 1em/1 'Black Ops One',sans-serif;
  text-align: center;
}
input[type='text']{
  width: 35%;
  background: #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}

.fireButton{
  padding: 5%;
  width: 60%;
  cursor: pointer;
  background:rgba(155, 10, 10,0.4);
  color: rgba(255,255,255,0.3);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 10px 3px #111;
  box-shadow: inset 0 0 10px 3px #111;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.is--enabled{
  color: #fff;
  background-color: rgb(155, 10, 10);
}

@media (max-width:768px){
  body{
    font-size:0.6rem;
  }
  .form{
    display: none !important;
  }
  main{
    overflow: hidden;
  }
  #messageArea{
    font-size: small;
  }
  #board{
    height: auto;
  }
}
@media (orientation:landscape){
  .container{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.controls{
  font-family: inherit;
  border: none;
  background-color:darkgreen;
  padding: 10px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 10px 8px #000;
  box-shadow: inset 0 0 10px 8px #000;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  outline: none;
  font-size: 1.2em;
  will-change: background-color;
}

.controls:hover{
  background-color: slateblue;
}
.save-score{
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.rank-form{
  text-align: center;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  will-change: opacity;
}
.rank-name{
  text-align: center;
  outline: none;
  background: rgba(0,255,0,0.1);
  font-weight: bold;
  color: snow;
  -webkit-box-shadow:  0 0 10px 10px rgba(0,255,0,0.1);
  box-shadow:  0 0 10px 10px rgba(0,255,0,0.1);
  border: none;
  border-radius: 3px;
  margin-bottom: 25px;
}

header{
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav{
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.title{
  margin: 0 auto;
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1em;
  background: -webkit-linear-gradient(315deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  background: -o-linear-gradient(315deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  background: linear-gradient(135deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  -webkit-background-clip:text;
  background-clip: text;
  color: transparent;
  z-index: 10;
}

.title-animation{
  background-size: 300% 300%;
  -webkit-animation: camuflage 10s linear infinite;
  animation: camuflage 10s linear infinite ;
}
.countDown{
  visibility: hidden;
  width: 100%;
  color: rgba(83, 175, 19,0.8);
  font-size: 1.1em;
  margin: auto;
}
#min,#sec{
  display: inline-block;
  width: 40px;
  letter-spacing: 1.5px;
}

.overlay{
  z-index: 7;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
}
.is--time-over{
  -webkit-animation: timeOver 1s ease-in-out infinite;
  animation: timeOver 1s ease-in-out infinite;
}
.fade-in{
  opacity: 1;
}
.rank{
  z-index: 9;
}
.is-active{
  -webkit-animation: shine 2s linear forwards;
  animation: shine 2s linear forwards; 
}
.is-invalid{
  background: rgba(155, 10, 10,0.5) !important;
  -webkit-box-shadow:  0 0 10px 10px rgb(155, 10, 10,0.5) !important;
  box-shadow:  0 0 10px 10px rgb(155, 10, 10,0.5) !important;
}

@-webkit-keyframes timeOver{
  from
  {
    color: darkgreen;
  }
  to
  {
    color:rgb(155, 10, 10);
  }
}

@keyframes timeOver{
  from
  {
    color: darkgreen;
  }
  to
  {
    color:rgb(155, 10, 10);
  }
}

@-webkit-keyframes camuflage{
  from{
    background-position: 100% 50%;
  }
  to{
    background-position: -50% 50%;
  }
}

@keyframes camuflage{
  from{
    background-position: 100% 50%;
  }
  to{
    background-position: -50% 50%;
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes map {
	0% {
    background-position: center center;
  }
  100%{
    background-position: -2% 75%;
    background-size: auto;
  }
}
@keyframes map {
	0% {
    background-position: center center;
  }
  100%{
    background-position: -2% 75%;
    background-size: auto;
  }
}

@-webkit-keyframes shine{
  0%{
    background-color:darkgreen;
  }
  20%{
    background-color: slateblue;
  }
  40%{
    background-color:darkgreen;
  }
  60%{
    background-color: slateblue;
  }
  80%{
    background-color:darkgreen;
  }
  100%{
    background-color: slateblue;
  }
}

@keyframes shine{
  0%{
    background-color:darkgreen;
  }
  20%{
    background-color: slateblue;
  }
  40%{
    background-color:darkgreen;
  }
  60%{
    background-color: slateblue;
  }
  80%{
    background-color:darkgreen;
  }
  100%{
    background-color: slateblue;
  }
}
@-webkit-keyframes antena
{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes antena
{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes glow{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes glow{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes glowSilence{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes glowSilence{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@-webkit-keyframes sail1{
  0%{
    top:50%;
    left: 95%;
  }
  10%{
    top:10%;
    left: 100%;
  }
  20%{
    top:80%;
    left: 65%;
  }
  30%{
    top:20%;
    left: 0%;
  }
  40%{
    top:60%;
    left: 90%;
  }
  50%{
    top:10%;
    left: 5%;
  }
  60%{
    top:50%;
    left: 80%;
  }
  70%{
    top:10%;
    left: 20%;
  }
  80%{
    top: 10%;
    left:100%;
  }
  90%{
    top:100%;
    left: 0%;
  }
  100%{
    top: 50%;
    left: 95%;
  }
}
@keyframes sail1{
  0%{
    top:50%;
    left: 95%;
  }
  10%{
    top:10%;
    left: 100%;
  }
  20%{
    top:80%;
    left: 65%;
  }
  30%{
    top:20%;
    left: 0%;
  }
  40%{
    top:60%;
    left: 90%;
  }
  50%{
    top:10%;
    left: 5%;
  }
  60%{
    top:50%;
    left: 80%;
  }
  70%{
    top:10%;
    left: 20%;
  }
  80%{
    top: 10%;
    left:100%;
  }
  90%{
    top:100%;
    left: 0%;
  }
  100%{
    top: 50%;
    left: 95%;
  }
}
@-webkit-keyframes sail2{
  0%{
    top:0%;
    left: 22%;
  }
  10%{
    top:80%;
    left: 90%;
  }
  
  20%{
    top:50%;
    left: 10%;
  }
  30%{
    top:30%;
    left: 4%;
  }
  40%{
    top:70%;
    left: 68%;
  }
  50%{
    top:57%;
    left: 88%;
  }
  60%{
    top:88%;
    left: 22%;
  }
  70%{
    top:13%;
    left: 77%;
  }
  80%{
    top: 77%;
    left:9%;
  }
  90%{
    top:100%;
    left: 89%;
  }
  100%{
    top: 10%;
    left: 22%;
  }
}
@keyframes sail2{
  0%{
    top:0%;
    left: 22%;
  }
  10%{
    top:80%;
    left: 90%;
  }
  
  20%{
    top:50%;
    left: 10%;
  }
  30%{
    top:30%;
    left: 4%;
  }
  40%{
    top:70%;
    left: 68%;
  }
  50%{
    top:57%;
    left: 88%;
  }
  60%{
    top:88%;
    left: 22%;
  }
  70%{
    top:13%;
    left: 77%;
  }
  80%{
    top: 77%;
    left:9%;
  }
  90%{
    top:100%;
    left: 89%;
  }
  100%{
    top: 10%;
    left: 22%;
  }
}
@-webkit-keyframes sail3{
  0%{
    top:50%;
    left: 5%;
  }
  10%{
    top:27%;
    left: 92%;
  }
  
  20%{
    top:95%;
    left: 19%;
  }
  30%{
    top:67%;
    left: 84%;
  }
  40%{
    top:17%;
    left: 5%;
  }
  50%{
    top:88%;
    left: 57%;
  }
  60%{
    top:5%;
    left: 75%;
  }
  70%{
    top:35%;
    left: 13%;
  }
  80%{
    top: 69%;
    left:95%;
  }
  90%{
    top:80%;
    left: 16%;
  }
  100%{
    top: 50%;
    left: 5%;
  }
}
@keyframes sail3{
  0%{
    top:50%;
    left: 5%;
  }
  10%{
    top:27%;
    left: 92%;
  }
  
  20%{
    top:95%;
    left: 19%;
  }
  30%{
    top:67%;
    left: 84%;
  }
  40%{
    top:17%;
    left: 5%;
  }
  50%{
    top:88%;
    left: 57%;
  }
  60%{
    top:5%;
    left: 75%;
  }
  70%{
    top:35%;
    left: 13%;
  }
  80%{
    top: 69%;
    left:95%;
  }
  90%{
    top:80%;
    left: 16%;
  }
  100%{
    top: 50%;
    left: 5%;
  }
}
#radar-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 60%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.radar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  overflow: hidden;
  position: relative;
  padding: 0;
  border-radius: 50%;
  margin: 0 auto 10px;
  width: 400px;
  height: 400px;
  border: solid 10px #111; 
  -webkit-box-shadow: inset 0 0 50px rgba(0,255,0,0.4); 
  box-shadow: inset 0 0 50px rgba(0,255,0,0.4);
  background: url('https://raw.githubusercontent.com/CristRocha/battleship/gh-pages/img/world-map-globe.png') center center / cover;
  -webkit-border-after: inherit;
  border-block-end: inherit;
}

.radar-map{
  -webkit-animation: map ease 5s forwards;
  animation: map ease 5s forwards;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
} 
#radar-grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 5;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#radar-grid div{
  width: 13%;
  height: 13%;
}
.ships
{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00ee00;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: -1;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  will-change: opacity,background-color,animation-play-state,filter;
}
.manoWar{
  -webkit-animation: glow 4s ease infinite,
              sail1 100s ease infinite alternate;
  animation: glow 4s ease infinite,
              sail1 100s ease infinite alternate; 
}
.destroyer{
  -webkit-animation: glow 4s ease infinite,
              sail2 100s linear infinite alternate;
  animation: glow 4s ease infinite,
              sail2 100s linear infinite alternate;
}
.silence{
  -webkit-animation: glowSilence 3s ease infinite,
              sail3 100s ease infinite alternate;
  animation: glowSilence 3s ease infinite,
              sail3 100s ease infinite alternate;
}

.hitted{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  background-color: #b1150a;
}
.sunk{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
  background-color: #b1150a;
  opacity: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
#radar li:nth-child(1),
#radar li:nth-child(2),
#radar li:nth-child(3),
#radar li:nth-child(4)
{
  list-style: none;
  position: absolute;
  top: 50%;
  height: 1px;
  width:100%;
  background: rgba(83, 175, 19,0.5); 
  border-radius: 50%;
}

#radar li:nth-child(2)
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#radar li:nth-child(3)
{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#radar li:nth-child(4)
{
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#radar li:nth-child(5),
#radar li:nth-child(6)
{
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 1px solid rgba(83, 175, 19,0.5);
  background: transparent;
  border-radius: 50%;
}
#radar li:nth-child(5)
{
  width: 100px;
  height: 100px;
}
#radar li:nth-child(6)
{
  width: 240px;
  height: 240px;
}

.antena{
  width: 250px;
  height: 250px;
  display: inline;
  list-style: none;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background: -webkit-linear-gradient(45deg, #009900 0%,transparent 50%);
  background: -o-linear-gradient(45deg, #009900 0%,transparent 50%);
  background: linear-gradient(45deg, #009900 0%,transparent 50%);
  -webkit-animation: antena 4s linear infinite;
  animation: antena 4s linear infinite;
  will-change: transform;
}
.hidden{
  visibility: hidden;
  opacity: 0;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
@media (max-width:768px){
  .radar{
    width: 280px;
    height: 280px;
    border-width: 5px;
  }
  #radar-wrap{
    height: auto;
  }
  .ships{
    width: 7px;
    height: 7px;
  }
}
@media (max-width:500px){
  .radar{
    width: 250px;
    height: 250px;
  }
  #radar-wrap{
    height: auto;
  }
  .antena{
    width: 160px;
    height: 160px;
  }
  .ships{
    width: 5px;
    height: 5px;
  }
}
@media (max-width:360px){
  .radar{
    width: 160px;
    height: 160px;
  }
  #radar-wrap{
    height: auto;
  }
  .antena{
    width: 80px;
    height: 80px;
  }
  .ships{
    width: 3px;
    height: 3px;
  }
}
.rank-wrap{
  position: fixed;
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
  top: 0;
  width: auto;
  height: 100vh;
  background-color: rgb(8,8,8);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  z-index: 12;
  -webkit-box-shadow:  0 0 50px 20px rgba(0,255,0,0.2);
  box-shadow:  0 0 50px 20px rgba(0,255,0,0.2);
  will-change: transform;
}
.rank-container{
  color: #fff;
  width: 100%;
  height: auto;
  padding: 0 25px 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;  
}
.rank-container::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(8,8,8);
 }
.rank-container::-webkit-scrollbar-thumb {
  border: 10px solid #000;
  border-radius: 2px;
 }
.rank-title{ 
  width: 100%;
  background: -webkit-linear-gradient(315deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  background: -o-linear-gradient(315deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  background: linear-gradient(135deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  -webkit-background-clip:text;
  background-clip: text;
  color: transparent;
  font-size: 1.8em;
  background-size: 300% 300%;
  -webkit-animation: camuflage 6s linear infinite;
  animation: camuflage 6s linear infinite;
}
.rank-list{
  height: 75vh;
  width: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.rank-list li{
  margin-left:5px;
  width: 100%;
  font-size: 1.3em;
}
.rank-list strong{
  color: limegreen;
  text-align: left;
  display: inline-block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  white-space: nowrap;
}
.rank-list span{
color: snow;
width: 90%;
text-align: right;
font-weight: 300;
}
.show-rank{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  -webkit-transition: display 0s ease-in-out,
                opacity 2s ease-in-out 1s;
  -o-transition: display 0s ease-in-out,
                opacity 2s ease-in-out 1s;
  transition: display 0s ease-in-out,
                opacity 2s ease-in-out 1s;
}
.modal{
  display: none;
  margin: auto;
  max-width: 250px;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-transition: display 0s ease-in-out,
                opacity 3s ease-in-out 4s;
  -o-transition: display 0s ease-in-out,
                opacity 3s ease-in-out 4s;
  transition: display 0s ease-in-out,
                opacity 3s ease-in-out 4s;
}

#messageEnd{
  -ms-flex-item-align: center;
  align-self: center;
  width: auto;
  white-space: nowrap;
  background: -webkit-linear-gradient(315deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  background: -o-linear-gradient(315deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  background: linear-gradient(135deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  -webkit-background-clip:text;
  background-clip: text;
  color: transparent;
  font-size: 1.6em;
  background-size: 300% 300%;
  -webkit-animation: camuflage 6s linear infinite;
  animation: camuflage 6s linear infinite;
}
.point-list{
  width: 100%;
  color: rgba(83, 175, 19,0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3px;
}
.point-list-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; 
  font-size:1.3em;
}
.point-list-item strong{
  font-weight: 300;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: left;
}
.point-list-item:not(:last-child) span{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  color: slateblue;
}
.point-list-item:last-child span{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  color: ghostwhite;
}
.display{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}