
@keyframes timeOver{
  from
  {
    color: darkgreen;
  }
  to
  {
    color:rgb(155, 10, 10);
  }
}

@keyframes camuflage{
  from{
    background-position: 100% 50%;
  }
  to{
    background-position: -50% 50%;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes map {
	0% {
    background-position: center center;
  }
  100%{
    background-position: -2% 75%;
    background-size: auto;
  }
}

@keyframes shine{
  0%{
    background-color:darkgreen;
  }
  20%{
    background-color: slateblue;
  }
  40%{
    background-color:darkgreen;
  }
  60%{
    background-color: slateblue;
  }
  80%{
    background-color:darkgreen;
  }
  100%{
    background-color: slateblue;
  }
}
@keyframes antena
{
  0%{
      transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes glow{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes glowSilence{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes sail1{
  0%{
    top:50%;
    left: 95%;
  }
  10%{
    top:10%;
    left: 100%;
  }
  20%{
    top:80%;
    left: 65%;
  }
  30%{
    top:20%;
    left: 0%;
  }
  40%{
    top:60%;
    left: 90%;
  }
  50%{
    top:10%;
    left: 5%;
  }
  60%{
    top:50%;
    left: 80%;
  }
  70%{
    top:10%;
    left: 20%;
  }
  80%{
    top: 10%;
    left:100%;
  }
  90%{
    top:100%;
    left: 0%;
  }
  100%{
    top: 50%;
    left: 95%;
  }
}
@keyframes sail2{
  0%{
    top:0%;
    left: 22%;
  }
  10%{
    top:80%;
    left: 90%;
  }
  
  20%{
    top:50%;
    left: 10%;
  }
  30%{
    top:30%;
    left: 4%;
  }
  40%{
    top:70%;
    left: 68%;
  }
  50%{
    top:57%;
    left: 88%;
  }
  60%{
    top:88%;
    left: 22%;
  }
  70%{
    top:13%;
    left: 77%;
  }
  80%{
    top: 77%;
    left:9%;
  }
  90%{
    top:100%;
    left: 89%;
  }
  100%{
    top: 10%;
    left: 22%;
  }
}
@keyframes sail3{
  0%{
    top:50%;
    left: 5%;
  }
  10%{
    top:27%;
    left: 92%;
  }
  
  20%{
    top:95%;
    left: 19%;
  }
  30%{
    top:67%;
    left: 84%;
  }
  40%{
    top:17%;
    left: 5%;
  }
  50%{
    top:88%;
    left: 57%;
  }
  60%{
    top:5%;
    left: 75%;
  }
  70%{
    top:35%;
    left: 13%;
  }
  80%{
    top: 69%;
    left:95%;
  }
  90%{
    top:80%;
    left: 16%;
  }
  100%{
    top: 50%;
    left: 5%;
  }
}