.rank-wrap{
  position: fixed;
  left: -100%;
  top: 0;
  width: auto;
  height: 100vh;
  background-color: rgb(8,8,8);
  transition: all 1s ease-in-out;
  z-index: 12;
  box-shadow:  0 0 50px 20px rgba(0,255,0,0.2);
}
.rank-container{
  color: #fff;
  width: 100%;
  height: auto;
  padding: 0 25px;
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;  
}
.rank-container::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(8,8,8);
 }
.rank-container::-webkit-scrollbar-thumb {
  border: 10px solid #000;
  border-radius: 2px;
 }
.rank-title{ 
  width: 100%;
  background: linear-gradient(135deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  -webkit-background-clip:text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  background-size: 300% 300%;
  -webkit-animation: camuflage 6s linear infinite;
  animation: camuflage 6s linear infinite;
}
.rank-list{
  height: 75vh;
  width: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.rank-list li{
  margin-left:5px;
  width: 100%;
}
.rank-list strong{
  background: linear-gradient(135deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  -webkit-background-clip:text;
  background-clip: text;
  color: transparent;
  text-align: left;
  display: inline-block;
  width: 100%;
  display: flex;
  font-weight: 300;
  white-space: nowrap;
}
.rank-list span{
color: snow;
width: 90%;
text-align: right;
font-weight: 300;
}
.show-rank{
  left: 0;
}