
.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  transition: display 0s ease-in-out,
                opacity 2s ease-in-out 1s;
}
.modal{
  display: none;
  margin: auto;
  max-width: 250px;
  height: 50vh;
  flex-direction: column;
  opacity: 0;
  transition: display 0s ease-in-out,
                opacity 3s ease-in-out 4s;
}

#messageEnd{
  align-self: center;
  width: auto;
  white-space: nowrap;
  background: linear-gradient(135deg, rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8),rgba(83, 175, 19,0.2),rgba(83, 175, 19,0.8));
  -webkit-background-clip:text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  background-size: 300% 300%;
  -webkit-animation: camuflage 6s linear infinite;
  animation: camuflage 6s linear infinite;
}
.point-list{
  width: 100%;
  color: rgba(83, 175, 19,0.8);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3px;
}
.point-list-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease; 
}
.point-list-item strong{
  font-weight: 300;
  flex: 2;
  text-align: left;
}
.point-list-item:not(:last-child) span{
  flex: 1;
  text-align: right;
  color: slateblue;
}
.point-list-item:last-child span{
  flex: 1;
  text-align: right;
  color: ghostwhite;
}
.display{
  display: flex;
  opacity: 1;
}